:root {
  --highlight:#FFF;
  --shadow:#000;
  --midtone:#555;
  --curved:border-radius: 30px;
}

body {
  font-family: "panel-mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  background-color: var(--shadow);
  color: var(--highlight);
 /* padding: 1em; */
  display: block;
}

#header-strip {
 background-image: url("../images/dark-teal-bg.jpg");
  background-color: var(--shadow);
  width: 100%;
  padding: 1em;
  display: inline-block;
}

h1 {
  display: block;
  font-size: 1.25em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1em;
}

h2 h3 {
  display: block;
  font-size: 1.25em;
  text-align: center;
  margin-top: 1em;
  font-weight: 400;
}

h3 {
  font-size: 1em;
}

#smaller {
  font-size: 1.25em;
  margin: 10px;
}

p, a, ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8em;
  margin: 2em;
  text-align: center;
  line-height: 1.8em;
  vertical-align: center;
}

p#quote {
  font-style: italic;
  font-size: 1em;
}

ul {
  font-weight: bold;
  margin: 0;
}

li {
font-weight: normal;
}

/*general anchor tags*/

/* unvisited link */
a:link {
  color: cyan;
}
/* visited link */
a:visited {
  color: plum;
}
/* mouse over link */
a:hover {
  color: white;
  font-weight: 500;
}
/* selected link */
a:active {
  color: white;
  font-weight: 500;
}

/*Link Strip anchor tags*/

section#link-strip a {
  font-family: "panel-mono", monospace;
  font-size: 1.25em;
  color: var(--highlight);
  text-decoration: none;
}
/* mouse over and selected links */
li#about-link:hover, li#about-link:active, li#about-link:visited {
  background: #511c24;
}
li#experience-link:hover, li#experience-link:active li#experience-link:visited  {
  background: #007468;
}
li#education-link:hover, li#education-link:active, li#education-link:visited {
  background: #124a7a;
}
li#contact-link:hover, li#contact-link:active, li#contact-link:visited  {
  background: #21192b;
}


.italic {
  font-weight: 400;
  font-style: italic;
}

.fancy {
  font-family: "ganache", sans-serif;
  font-size: 250%;
}

img {
  display: block;
  margin: 1em auto;
}

section#header-strip img {
display:inline;
}


header {
  background: var(--midtone);
  display: flex;
  width: 100%;
}

#nav1 {
  background-color: var(--midtone);
  background-image: url("../images/universe-bg.jpg");
  flex:1;
  border: 1px;
  padding: .75em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#nav1 section {
  flex: 1;
  background-color: var(--shadow);
  border-color: var(--highlight);
  border: 1px solid var(--highlight);
  margin-bottom: 1em;
  align-content: center;
  width: 80%;
}
section#web-dev, section#automation {
  /*background-image: url("../images/brainHemispheres-gray-left.png"); */
  background-position: 20em;
  background-repeat: no-repeat;
  background-size: 2em;
}

  section#design, section#art {
 /* background-image: url("../images/brainHemispheres-color-right.png");*/
  background-position: 5em;
  background-repeat: no-repeat;
  background-size: 2em;
}

section.nav-portfolio {
  flex: 1;
  min-height: 4em;
  /*border-color: var(--highlight);
  border-style: dashed;
  border-width: 1px;*/
}

#nav1 a {
  color: var(--highlight);
  font-size: 110%;
  padding: 1.5em 2em;
  text-decoration: none;
  text-align: center;
}

/*nav a:hover {
  background-color: #fff;
}*/

section#hero {
  flex:2;
  display: flex;
  align-items: center;
  background-image: url("../images/black-bg.jpg");
}

div.brain {
  flex: 1;
}

#my-avatar {
  flex:1;
  height: 348 px;
  width: 300 px;
  background-image: url("../images/profile-pic-composite-300.jpg");
  background-repeat: no-repeat;
}

div#my-avatar img {
opacity: 0;
}

div.brain p{
vertical-align: middle;
}

div#right.brain:hover + div#my-avatar {
  background-image: url("../images/profile-pic-creative-300.jpg");
}

div#left.brain:hover ~ div#my-avatar {
  background-image: url("../images/profile-pic-tech-300.jpg");
}

#link-strip {
  padding-top: .5em;
  background-image: url("../images/dark-teal-bg.jpg");
  height: 4em;;
}

#link-strip ul {
  padding: 0;
  height: 100%;
  vertical-align: center;
  display: flex;
}

#link-strip ul li {
  flex: 1;
  color: var(--highlight);
  font-family: "panel-mono", monospace;
  margin: .5em 4em 0 4em;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

div#learn-more {
  background-color: var(--midtone);
  display: flex;
  flex-direction: row;
}

div#learn-more section {
  flex: 1;
  margin: .5em;
  color: var(--highlight);
  border: 5 px solid var(--midtone);
}

section#about {
  background-color: #511c24;
}

section#experience {
  background-color: #007468;
}

section#education {
  background-color:  #124a7a;
}

section#contact {
  background-color:  #21192b;
}

div#portfolio {
display:grid;
grid-template-areas: 
        "tech1 creative1"
        "tech2 creative2";
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
}

div#portfolio section {
  margin: 1em;
  padding: 1em;
  border: 1px solid var(--highlight);
  min-height: 3em;
  background-image: url("../images/universe-bg.JPG");
  display: flex;
}

div.mywork {
  display:flex;
  Justify-content: space-between;
}

div.feature {
  width:100%;
  border: 1px solid var(--midtone);
  margin-bottom:.5em;
  background-color: var(--shadow);
}

div.item {
width: 50%;
float: left;
border: 1px solid var(--midtone);
margin-bottom: .5em;
background-color: var(--shadow);
}

footer {
  width: 100%;
  position:fixed;
  bottom: 0;
  text-align: center;
  background-image: url("universe-bg.JPG");
  background: #13293d;
  color: #fff;
  margin-top: auto;
}

/* Tablet width target */
@media screen and (max-width: 768px) {
  .card {
    width: 50%;
  }
}

/* Mobile width target */
@media screen and (max-width: 585px) {
  .card {
    width: 50%;
  }
}